DJANGO_SECRET=django-insecure-2eyh*ng0f3ugi9@t1sk$$n%o!^7f9$$wddn8tl7b_guxf@xtp+qu
DB_NAME=mapsdb
DB_USER=admin
DB_PASSWORD=CHANGETHAT
DB_HOST=localhost
DB_PORT=5432
NEO_URI=bolt://localhost:7687
NEO_USER=neo4j
NEO_PASSWORD=12345678
